.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: blueviolet; */
}

.box{
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 0.5em;
    box-shadow: 2px 2px 10px #0005;
    max-width: 500px;
    display: grid;
    grid-template-columns: 2.8em 1fr;
}

.box__icon{
    grid-row: span 3;
    font-size: 2.2em;
}

.box__quote{
    line-height: 1.3;
    margin-bottom: 0.8em;
}

.box__quote{
    line-height: 1.3;
    margin-bottom: 0.8em;
}

.box__author{
    text-align: end;
    margin-bottom: 0.5em;
}

.box__btn{
    display: block;
    margin-left: auto;
    width: 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: transform 200ms ease;
    cursor: pointer;
    border: none;
    color: aliceblue;
    /* background-color: aqua; */
}

.box__btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0.5em #0005;
}